<!DOCTYPE html>

<html lang="zh-cn">

  <head>

  <title>访问被拒绝访问</title>

  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://cdn.staticfile.org/foundation/5.5.3/css/foundation.min.css">

  <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>

  <script src="https://cdn.staticfile.org/foundation/5.5.3/js/foundation.min.js"></script>

  <script src="https://cdn.staticfile.org/foundation/5.5.3/js/vendor/modernizr.js"></script>

</head>

<body>

  <div class="row">

  <div class="medium-12 columns">

    <div class="panel">

     <div style="padding:20px;">

   <h1>拒绝访问</h1>

            <span class="cf-code-label">错误码:<span>END-100C1</span></span>

         <div class="cf-error-description">

            <p>

没有权限访问</p><p>网站设置了限制，阻止了你本次访问

</p><p> 网站安全性基于 <a rel="noopener noreferrer" href="https://www.cloudflare.com?utm_source=1020_error" target="_blank">Cloudflare </a>

</p>

           

</div>

<body style="padding-top:10px;">

  <button type="button" class="button success" data-reveal-id="Help">问题是怎么发生的？</button>

<div id="Help" class="reveal-modal" data-reveal>

  <h2>问题是怎么发生的？</h2>

  <p>1.你没有达到服务器的授权</p>

  <p>2.你是黑名单用户</p>

  <p>3.可能服务器在维护</p>

  <a class="close-reveal-modal">&times;</a>

</div>

  <button type="button" class="button success" data-reveal-id="Help2">我该怎么解决它呢</button>

<div id="Help2" class="reveal-modal" data-reveal>

  <h2>我该怎么解决它呢</h2>

  <p>好问题，你可以尝试刷新网页或者联系我们。</p>

  <p>我们会帮助你如何访问这个页面</p>

  <a class="close-reveal-modal">&times;</a>

 </div>

   <button type="button" class="button success" data-reveal-id="Help3">我该怎么与你们联系？</button>

<div id="Help3" class="reveal-modal" data-reveal>

  <h2>我该怎么与你们联系？</h2>

  <p>你可以尝试发邮件到3106609850@qq.com，或者联系开发组成员QQ:3081684528。</p>

  <a class="close-reveal-modal">&times;</a>

 </div>

<script>

$(document).ready(function() {

    $(document).foundation();

})

</script>

</body>
